
.count-card {
    width:24%;
    margin:5px;
    padding:20px;
}
.bg-success {
    background-color: rgb(186, 204, 224);
}
.bg-warning {
    background-color: rgb(186, 204, 224);
}
.bg-info {
    background-color: rgb(239, 230, 240);
}
.bg-primary {
    background-color: rgb(239, 230, 240);
}